body{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
.container{
	width: 1000px;
	margin: 50px auto;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
				0 32px 64px -48px rgba(0, 0, 0, 0.5);
}
 
table{
	width: 100%;
	height: auto;
	border-collapse: collapse;
}
tr{
	margin: 10px 0;
}
th{
	text-align: center;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	padding: 15px 10px;
	border-left: 5px solid #fba92c;
}
td{
	text-align: center;
	vertical-align: top;
	padding: 20px 10px;
	border: 1.5px solid #ededed;
}
td input[type="checkbox"]{
	height: 20px;
	width: 20px;
	color: black;
}
button{
	height: 30px;
	width: 90%;
	cursor: pointer;
	font-size: 16px;
}
button:hover{
	background-color: #fba92c;
}
button:focus{
	background-color: #fba92c;
}